@font-face {
    font-family: 'Vinque';
    src: url('/fonts/vinque-rg.woff2') format('woff2'),
         url('/fonts/vinque-rg.woff') format('woff');
  }
  
  .page {
    font-family: 'Vinque', sans-serif;
    background-image: url('/smartrotom/img/papel.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .page-right {
      box-shadow: 1px 1px 0px #e9dbcf, 2px 2px 0px #aa9e94, 3px 3px 0px #e9dbcf, 4px 4px 0px #aa9e94, 5px 5px 0px #e9dbcf, 6px 6px 0px #aa9e94, 7px 7px 0px #e9dbcf, 8px 8px 0px #aa9e94, 9px 9px 0px #e9dbcf, 10px 10px 0px #aa9e94, 11px 11px 0px #e9dbcf, 12px 12px 0px #aa9e94, 16px 16px 0px #082954;
  }
  
  .page-left {
      box-shadow: -1px 1px 0px #e9dbcf, -2px 2px 0px #aa9e94, -3px 3px 0px #e9dbcf, -4px 4px 0px #aa9e94, -5px 5px 0px #e9dbcf, -6px 6px 0px #aa9e94, -7px 7px 0px #e9dbcf, -8px 8px 0px #aa9e94, -9px 9px 0px #e9dbcf, -10px 10px 0px #aa9e94, -11px 11px 0px #e9dbcf, -12px 12px 0px #aa9e94, -16px 16px 0px #082954;
  }
  

  .page-right-purple {
    box-shadow: 1px 1px 0px #e9dbcf, 2px 2px 0px #aa9e94, 3px 3px 0px #e9dbcf, 4px 4px 0px #aa9e94, 5px 5px 0px #e9dbcf, 6px 6px 0px #aa9e94, 7px 7px 0px #e9dbcf, 8px 8px 0px #aa9e94, 9px 9px 0px #e9dbcf, 10px 10px 0px #aa9e94, 11px 11px 0px #e9dbcf, 12px 12px 0px #aa9e94, 16px 16px 0px #6b3885;
}

.page-left-purple {
    box-shadow: -1px 1px 0px #e9dbcf, -2px 2px 0px #aa9e94, -3px 3px 0px #e9dbcf, -4px 4px 0px #aa9e94, -5px 5px 0px #e9dbcf, -6px 6px 0px #aa9e94, -7px 7px 0px #e9dbcf, -8px 8px 0px #aa9e94, -9px 9px 0px #e9dbcf, -10px 10px 0px #aa9e94, -11px 11px 0px #e9dbcf, -12px 12px 0px #aa9e94, -16px 16px 0px #6b3885;
}

  