.wrapper {
    display: inline-flex;
    padding: 5px; /* Adjust for border thickness */
    max-width: 50%;
    background: black; /* Border color */
    clip-path: polygon(calc(0% + 20px) calc(0% + 20px), 100% 0%, calc(100% - 50px) 100%, 0% 100%);
  }
  
  .custom-shape {
    display: flex;
    border: 1px solid ;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: white;
    padding: 2em;
    clip-path: inherit; /* Inherit clip-path from wrapper */
  }